#txt2img_container_aspect_ratio,
#img2img_container_aspect_ratio {
	padding: 0px; 
	gap: 4px !important;
	margin-top: 4px;
	margin-bottom: 4px; 
}

#txt2img_row_aspect_ratio,
#img2img_row_aspect_ratio {
	padding: 0px;
	gap: 0px;
	margin: 0px;	
}

#txt2img_row_aspect_ratio button,
#img2img_row_aspect_ratio button {
	padding: 0px;
	gap: 0px !important;
	margin: 0px;
	max-width: unset !important;
}
