#txt2img_container_aspect_ratio,
#img2img_container_aspect_ratio {
	padding: 0px; 
	margin-top: 1px;
	margin-bottom: 1px;
	gap: 4px !important;
}

#txt2img_row_aspect_ratio,
#img2img_row_aspect_ratio {
	padding: 0px;	
	margin: 2px;
	gap: 2px;
}

#txt2img_row_aspect_ratio button,
#img2img_row_aspect_ratio button {
	padding: 0px;
	margin: 0px;
	gap: 0px !important;
	max-width: unset !important;
}
